@model VmService
@{
    ViewData["Title"] = "Service1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    <!-- Page title -->
    <section class="page-title" style="background-image:url(/images/background/@Model.Banner.Image)">
        <div class="container">
            <div class="outer-box">
                <h1>@Model.Banner.Title</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">@Model.Banner.Title</li>
                </ul>
            </div>
        </div>
    </section>

}
<!-- Services section three -->
<section class="services-section-one sp-two">
    <div class="container">
        <div class="sec-title centered">
            <h1>We Provide Wide Range of <br>Business Services</h1>
        </div>
        <div class="row">
            <!-- Service block three -->
            @{
                foreach (var item in Model.Services)
                {
                    <div class="services-block-three col-lg-4">
                        <div class="inner-box hvr-float-shadow">
                            <div class="image"><img src="~/images/resource/@item.Image" alt=""></div>
                            <div class="lower-content">
                                <div class="icon"><span class="@item.Icon"></span></div>
                                <h4>@item.Title</h4>
                                <div class="text">@(item.Text.Length>57? item.Text.Substring(0, 57)+"..." : item.Text)</div>
                                <div class="read-more-btn"><a href="#" class="theme-btn">Read More <span class="icon-right-arrow2"></span></a></div>
                            </div>
                        </div>
                    </div>
                }
            }
            <!-- End block -->
        </div>
    </div>
</section>

<!--Project Section-->
<section class="project-section sp-four grey-bg">

    <!--Porfolio Tabs-->
    <div class="project-tab">
        <div class="container">
            <!--Top content-->
            <div class="top-content">
                <div class="row m-0 justify-content-md-between align-items-center">
                    <div class="sec-title">
                        <h1>We’ve Done Lot’s of Work, Let’s <br>Check Some From Here</h1>
                    </div>
                    <div class="tab-btns-box">
                        <!--Tabs Header-->
                        <div class="tabs-header">
                            <ul class="product-tab-btns clearfix">
                                @{
                                    foreach (var item in Model.WorkTags)
                                    {

                                        <li class="p-tab-btn @(item.TagName=="All" ? "active-btn" : "")" data-tab="#p-tab-@item.Id">@item.TagName</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Tabs Content-->
        <div class="p-tabs-content">
            <!--Portfolio Tab / Active Tab-->
            @{
                int count = 0;
                foreach (var wt in Model.WorkTags)
                {
                    count++;

                    <div class="p-tab @(count==1 ? "active-tab" : "")" id="p-tab-@wt.Id">
                       
                        <div class="project-carousel owl-theme owl-carousel">

                            @{
                                foreach (var ow in Model.OurWorks)
                                {
                                    foreach (var tw in ow.TagToWorks)
                                    {
                                        if (tw.WorkTagId == wt.Id)
                                        {
                                            <!--Gallery Block-->
                                            <div class="gallery-block">
                                                <div class="inner-box">
                                                    <figure class="image-box">
                                                        <img src="~/images/gallery/@ow.Image" alt="">
                                                        <!--Overlay Box-->
                                                        <div class="overlay-box">
                                                            <div class="overlay-inner">
                                                                <div class="content">
                                                                    <div class="content-text">
                                                                        <div class="category">@ow.SubTitle</div>
                                                                        <h3><a href="projects-detail.html">@ow.Title</a></h3>
                                                                        <div class="text">@ow.Text</div>
                                                                        <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        }
                                    }







                                }



                            }




                        </div>
                    </div>
                }
            }


            

        </div>

    </div>



</section>
<!--End Project Section-->
<!-- Testimonial Section -->
<section class="testimonial-section-two sp-one">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <div class="content-wrapper wow fadeInUp" data-wow-duration="1.2s">
                    <div class="sec-title">
                        <h1>What Our Clients <br>Are Saying</h1>
                    </div>
                    <ul class="bxslider ">
                        @{
                            foreach (var item in Model.Testimonials)
                            {
                                <li>
                                    <div class="testimonial-block-two">
                                        <div class="inner-box">
                                            <div class="quote"><img src="~/images/icons/quote-icon.png" alt=""></div>
                                            <div class="text">@item.Text</div>
                                            <h4>@item.FullName</h4>
                                        </div>
                                    </div>
                                </li>

                            }
                        }

                    </ul>
                    <div class="slider-pager slide-nav">
                        <ul class="nav-link list-inline">
                            <li id="slider-prev"></li>
                            <li id="slider-next"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-pager">
                    <ul class="list-inline thumb-box">
                        @{
                            for (int i = 0; i < Model.Testimonials.Count; i++)
                            {
                                
                                <li>
                                    <a class="@(i==1 ? "active" : "") active" data-slide-index="@i" href="#"><img src="~/images/resource/@Model.Testimonials[i].Image" alt=""></a>
                                </li>
                            }
                        }
                        @*<li>
                            <a class="active" data-slide-index="0" href="#"><img src="~/images/resource/team-4.jpg" alt=""></a>
                        </li>
                        <li>
                            <a data-slide-index="1" href="#"><img src="~/images/resource/team-5.jpg" alt=""></a>
                        </li>
                        <li>
                            <a data-slide-index="2" href="#"><img src="~/images/resource/team-6.jpg" alt=""></a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

