
@model  Service

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form class="my-5 p-5" asp-area="Admin" asp-controller="Service" asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="@Model.Title" class="form-label">Service Title</label>
        <input class="form-control" asp-for="@Model.Title">
        <span class="text-danger" asp-validation-for="@Model.Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Text" class="form-label">Service Content</label>
        <textarea class="form-control" asp-for="@Model.Text"></textarea>
        <span class="text-danger" asp-validation-for="@Model.Text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Icon" class="form-label">Service Icon</label>
        <input class="form-control" asp-for="@Model.Icon">
        <span class="text-danger" asp-validation-for="@Model.Icon"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ImageFile" class="form-label">Service Image</label>
        <input class="form-control" asp-for="@Model.ImageFile">
        <span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
    </div>


    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.CreatedDate" />
    <input type="hidden" asp-for="@Model.Image" />
    <button type="submit" class="btn btn-primary">Add</button>
</form>

