@model List<Blog>
@{
    ViewData["Title"] = "Blog Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blogs</h4>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Blog" asp-action="Create">Add New</a>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Main Image
                                    </th>
                                    <th>
                                        Author
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Content
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Created Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 0;
                                    foreach (var item in Model)
                                    {
                                        counter++;
                                        <tr>
                                            <td>
                                                @counter
                                            </td>
                                            <td class="py-1">
                                                <img src="~/images/@item.Image" alt="image" />
                                            </td>
                                            <td>
                                                @item.StaticUser.Name @item.StaticUser.Surname
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                <p>@item.Text</p>
                                            </td>
                                            <td>
                                                @item.BlogCategory.CategoryName
                                            </td>

                                            <td>
                                                @item.CreatedDate
                                            </td>


                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


