
@model TwitterFeed

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form class="my-5 p-5" asp-area="Admin" asp-controller="Twitter_Feed" asp-action="Update" method="post">
    <div class="mb-3">
        <label asp-for="@Model.FullName" class="form-label">Full Name</label>
        <input class="form-control" asp-for="@Model.FullName">
        <span class="text-danger" asp-validation-for="@Model.FullName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.UserName" class="form-label">User Name</label>
        <input class="form-control" asp-for="@Model.UserName">
        <span class="text-danger" asp-validation-for="@Model.UserName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Text" class="form-label">Social Link</label>
        <textarea class="form-control" asp-for="@Model.Text"></textarea>
        <span class="text-danger" asp-validation-for="@Model.Text"></span>
    </div>

    <input type="hidden" asp-for="@Model.Id"/>
    <input type="hidden" asp-for="@Model.CreatedDate"/>

    <button type="submit" class="btn btn-primary">Add</button>
</form>

